[submodule "Programming for Computations - Numerical Simulations with Python/book_resources"]
	path = Programming for Computations - Numerical Simulations with Python/book_resources
	url = https://github.com/DS-Workbench/prog4comp.git
